<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Go Grocery Receipt Upload</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200;1,300;1,500&family=Rowdies:wght@300&display=swap" rel="stylesheet">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>

    <section class="header">
        <nav>
            <a href="upload.html"><img src="go.png"></a>
            <div class ="nav-links">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">GG FOOD DRIVE</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
        </nav>
        <div class="text-box">
            <h1>Upload Your Receipt Here</h1>
            <p>You are just a few clicks away from saving money and reducing waste!
            </p>
            <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

                <input id="file-picker" type="file" name="file" accept="image/*" multiple>
                <div id="msg"></div>
                <input type="submit" value="Upload!" id="upload-button">
            </form>
        </div>
    </section>
</body>
<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>
</html>